/* Navbar Media query start */
/* @media screen and (min-width:1000px) and (max-width:1200px) {
    .nav-left{
        width: 650px;
    }
    .nav-button-container{
        width: 480px;   
    }
}*/
@media screen and (max-width:901px) {
    .nav-item{
        display: none;
    }
} 
@media screen and (min-width:900px) {
    #menu-btn, #mobile-view-nav{
        display: none;
    }
} 
/* Navbar Media query end */