*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    font-family: var(--web-font-family);
}


/*  ============ Common classes start ============  */
/* .gb{
    border: 2px solid green;
}
.rb{
    border: 2px solid red;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--main-font);
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.text-center{
    align-items: center;
}
.space-btw{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
.outer-container{
    width: 90%;
    margin: auto;
}
.outer-container-2{
    width: 95%;
    margin: auto;
}
.footer-container{
    width: 70%;
    margin: auto;
}
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.w-800{
    font-weight: 800;
}
a{
    text-decoration: none;
    color: var(--black-color);
}
.skyblue{
    color: var(--skyblue-color);
}
.gray{
    color: var(--gray-color);
}
.abs{
    position: absolute;
}
.inline{
    display: inline;
}
.text-align{
    text-align: center;
}
/*  ============ Common classes End ============  */




/*  ============ Nav Styling Start ============  */

nav{
    height: 6rem;
    background-color: var(--white-color);
}
li{
    list-style-type: none;
}
.nav-left{
    /* width: 800px; */
    width: 55%;
    max-width: 800px;
}
/* .nav-right button{
    margin: 0rem 1rem;
} */
.nav-button-container{
    width: 580px;   
}
.nav-item{
    padding: .5rem 1rem;
}
.nav-btn-item{
    border: none;
    padding: .8rem 1.5rem;
    border-radius: var(--s-radius);
}
.nav-right button{
    background: none;
    border: .17rem solid var(--black-color);
}
.nav-right :nth-child(1){
    border: none;
}
.nav-right button:hover{
    color: var(--white-color);
    background-color: var(--black-color);
    border: .17rem solid var(--black-color);    
    cursor: pointer;
}

#menu-btn{
    font-size: 1.7rem;
}

#main-mobile-view{
    min-width: 280px;
    border: .15rem solid var(--black-color);
    flex-direction: column;
    border-radius: .4rem;
    background-color: var(--white-color);
    z-index: 3;
}
#mobile-view-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0rem 5%;
}
.menu-active{
    position: absolute;
}
.menu-show{
    visibility: hidden;
}

.mobile-nav-item a{
    text-decoration: none;
    color: var(--btn-color);

}
.mobile-nav-item{
    padding: .7rem 0rem;

    /* ----- */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .2rem 0rem;
}
.mobile-nav-item:hover{
    border-left: .2rem solid rgba(0, 0, 0, var(--transparency));
    border-right: .2rem solid rgba(0, 0, 0, var(--transparency));
    background-color: rgba(0, 0, 0, var(--transparency));
}
#logo{
    padding: 1rem;
}
.nav-button-container li:hover, .footer-item div a:hover{
    text-decoration: underline;
    text-underline-offset: .4rem;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--orange-color);
}
/*  ============ Nav Styling End ============  */



/*  ============ Student Styling Start ============  */

.teach-container{
    background-color: var(--white-color);
}
.student-left{
    width: 50%;
}
.student-right{
    position: relative;
    width: 50%;
    max-height: 35rem;
    min-height: 35rem;
    max-width: 47rem;
    margin: auto;
}
.student-left h1{
    font-size: 4rem;
}
.student-left>p{
    font-size: 1.5rem;  
}
#teach{
    font-size: 4rem;
}
.student-btn{
    /* border: none; */
    background: none;
    padding: .8rem 3rem;
    border-radius: var(--s-radius);
}
#signup-btn{
    font-size: var(--s3-font-size);
}
#demo-btn{
    gap: 1rem;
}
#demo-btn p{
    font-size: 1.4rem;
}
#signup-btn{
    color: var(--white-color);
    background-color: var(--orange-color);
    border: .17rem solid var(--orange-color);    
    cursor: pointer;
}



.companies{
    width: 74%;
    
}
.student-left > *{
    margin: 2rem 0rem;
}


.title-underline{
    position: relative;
    z-index: 0;
}
.title-img{
    position: absolute;
    width: 100%;
    bottom: 0rem;
    left: 0rem;
    z-index: -1;
}

.chat{
    top: 0rem;
    left: 23%;
}
.teacher{
    bottom: 0rem;
}
.teacher img{
    bottom: 0rem;
}
.student img{
    top: 0rem;
    right: 0rem;
}
.student{
    top: 0rem;
    right: 0rem;
}
.one{
    z-index: 2;
}
.two{
    z-index: 1;
}
.three{
    z-index: 0;
}
.icons{
    bottom: 5%;
    right: 25%;
    width: 10rem;
}
.icons img{
    height: 100%;
    width: 100%;
}


.fix-y-star{
    left: 8rem;
}

/*  ============ Student Styling End ============  */



/*  ============ Tool Styling Start ============  */

.tool-container{
    /* padding: 1rem auto; */
    background-color: var(--tool-bg-color);
    border: 1px solid var(--tool-bg-color);
}
.tool-one{
    left: 0rem;
    width: 40%;
}
.tool-three{
    right: 0rem;
    width: 22%;
    bottom: 12%;
}
.tool-two{
    width: 84%;
    margin-left: 8%;  
    margin-right: 8%;
    z-index: 1;
}
.tool-container h2{
    font-size: 3.5rem;
    width: 70%;
    margin: 3rem auto 1.5rem auto;
}
#tool{
    font-size: 3.5rem;
}
.tool-container p{
    width: 70%;
    font-size: 1.25rem;
    margin: auto;
    line-height: 2.2rem;
}

.tool-icons{
    width: 90%;
    margin: 0rem auto 4rem auto;
}

.t-icon{
    padding: 0rem 1rem;
    height: 5rem;
    border: .2rem solid var(--tool-icon-border-color);
    border-radius: 1rem; 
}

.t-icon:hover{
    border-color: var(--tool-icon-hover-border);
}
 .tool-images{
    position: relative;
    margin: 2rem auto;
    height: 50vw;
 }

/*  ============ Tool Styling End ============  */


/*  ============ Carousel Styling Start ============  */
.wrapper{
    padding-left: 5%;
}
.carousel{
    margin: 4rem auto;
    column-gap: 1.7rem;
    /* overflow-x: scroll; */
    overflow: hidden;
    padding: 0rem .5rem;
}
.carousel::-webkit-scrollbar{
    width: 0rem;
}
.card{
    width: 27rem;
    /* min-width: calc(90%/3); */
    border-radius: 1.25rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, var(--transparency)) 0px 3px 8px;
    margin: 1rem auto;
}
.everyone-text h2{
    font-size: 3.5rem;
}

#left-right-icon{
    column-gap: 1.5rem;
}

.user-text{
    margin-left: 2rem;
    padding-top: .8rem;
}
.designation{
    font-size: .9rem;
}
.card > p{
    line-height: 1.75;
}
.user{
    margin-top: 2rem;
}
.everyone{
    padding-top: 2rem;
}
/*  ============ Carousel Styling End ============  */


/*  ============ Join Styling Start ============  */
.join-container{
    position: relative;
    height: 55vw;
    background-color: var(--yellow-color);
}
.join-text{
    z-index: 1;
}
.join-text h2{
    font-size: 3.5rem;
}
.join-text p{
    font-size: 1.25rem;
    margin: 1rem auto;
}
.join-text button{
    margin: 1rem 0rem;
}
.join-left{
    left: 0rem;
}
.join-right{
    right: 0rem;
}
.join-container img{
    width: 30%;
    z-index: 0;
}
#join-signup{
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: var(--s-radius);
    color: var(--white-color);
    background-color: var(--orange-color);
    cursor:pointer;
}

/*  ============ Join Styling End ============  */


/*  ============ Foooter Styling Start ============  */
footer {
    background-color: var(--footer-bg-color);
    color: var(--white-color);
    padding: 2rem 0;
}
footer a{
    color: var(--white-color);
}


.footer-item {
    flex-basis: 15%;
    flex-direction: column;
    height: 15rem;
    margin-bottom: 1rem;
}

#beta {
    color: var(--voilet-color);
    background-color: var(--white-color);
    padding: 0.3rem 0.7rem;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    margin-left: 0.5rem;
}
#down-inside-container{
    min-width: 30rem;
    width: 35%;
}
.down-fixing{
    margin: auto;
}
#footer-divider{
    border-color: #4665af;
    margin: 3rem 0rem;
    border-bottom: none;
}
.down-f-text{
    margin: auto 0rem;
}

/*  ============ Footer Styling End ============  */