:root{
    --web-font-family: "Roboto", serif;


    --s-radius: .5rem;


    --s-font-size: .5rem;
    --s2-font-size: 1rem;
    --s3-font-size: 1.5rem;
    --md-font-size: 3rem;
    --lg-font-size: 5rem;
    --xlg-font-size: 7rem;


    --black-color: #0F172A;
    --white-color: #FFFFFF;
    --skyblue-color: #2563EB;
    --orange-color: #EA580C;
    --gray-color: #475569;
    --gray-icon-color: #64748B;

}